version: 2
base_job: &base_job
  working_directory: "~/asdf.el"
  steps:
    - checkout
    - run:
        name: Run ERT tests
        command: ./bin/test
jobs:
  emacs30:
    <<: *base_job
    docker:
      - image: silex/emacs:30-alpine-ci
  emacs29:
    <<: *base_job
    docker:
      - image: silex/emacs:29-alpine-ci
  emacs28:
    <<: *base_job
    docker:
      - image: silex/emacs:28-alpine-ci
  emacs27:
    <<: *base_job
    docker:
      - image: silex/emacs:27-alpine-ci

workflows:
  version: 2
  emacs-versions:
    jobs:
      - emacs30
      - emacs29
      - emacs28
      - emacs27
